@charset "UTF-8";
// simplicity/view_components.less

// TODO: using additional "theme" class, define variation of styles.
// e.g. 
//   div.TextField.themeA { .. }
//   div.TextField.themeB { .. }

@input-border: #7a7a7a;
@input-border-hover: #202020;

@keyword-scope-bg: #878787;
@keyword-scope-border: #909090;

@icon: #d9d9d9;
@icon-hover: #fff;
 
// TextField
div.TextField {
    div.inputOuter {
        padding: 4px 12px;
        border: solid 1px @input-border;
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
        position: relative;

        h6.title {
            font-size: 0.7rem;
            font-weight: 400;
            color: @text-gray;
            -webkit-font-smoothing: antialiased;
            letter-spacing: 0.011em;
            font-size: 12px;
            line-height: 16px;
            margin: 2px 0px 0px 3px;
            position: relative;
        }
        div.inputWrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            h6.title{
                width: 120px;
            }
            input, textarea {
                resize: none;
                border: none;
                margin: 14px 0 0 0;
                background: transparent;
                outline: none;
                font-weight: 400;
                font-size: 1.1rem;
                color: @text-darkgray;
                line-height: 24px;
                //flex: 1;  // TODO: remove if not necessary
                display: inline-block;
                white-space: pre-wrap;
                vertical-align: top;
                width: 100%;
                height: 100%;
                overflow-x: hidden;
                overflow-y: auto;
            }
            ::placeholder {
                font-weight: 100;
                color: @text-placeholder;
            }
            div.inputAfter {
            }
        }

        div.footer {
            div.left {
            }
            div.middle {
            }
            div.right {
            }
        }
        span.indicator {

        }
        span.message {

        }
        span.counter {
            float: right;
            font-size: 0.7rem;
            color: @text-gray-light;
        }
        p.alertMessage {
            color: @alert-red;
            font-size: 0.9rem;
            padding-left: 0px;
        }
        button {
            svg {
                .cls-1, .cls-2 {
                    .transitionAll();
                    stroke: @icon;
                }
                width: 30px;
                height: 30px;
            }
            svg:hover {
                .cls-1, .cls-2 {
                    stroke: @icon-hover;
                }
            }
        }
    }
}
div.TextField.alert {
    div.inputOuter {
        border: 1px solid @alert-red;
        h6.title {
            color: @alert-red;
        }
    }
}
div.TextField.overMaximumTextCount {
    div.inputOuter {
        div.footer {
           span.counter {
                color: @alert-red;
            }
        }
    }
}

// DropdownButton
div.DropdownButton {
    div.DropdownButtonClickable {
        border: 1px solid @input-border;
        border-radius: 4px;
        padding: 8px 14px;
        cursor: pointer;
        h6.description {
            font-size: 0.7rem;
            color: @text-gray;
            font-weight: 300;
        }
        span.title {
            font-size: 1rem;
            font-weight: 100;
            color: @text-black-light;
        }
        img.downarrow {
            position: relative;
            top: 0px;
            width: 12px;
            height: 12px;
            float: right;
        }
        div.footer {
           p.alertMessage {
                color: @alert-red;
                font-size: 0.9rem;
                padding-left: 0px;
            }
        }
    }
    ul.listmenu {
        background: @bgcolor-light;
        position: absolute;
        width: 100%;
        .box-shadow(1px, 1px, 6px, 1px, rgba(0, 0, 0, 13%));
        border-radius: 6px;
        z-index: 2;

        li.listitem {
            background-color: @bgcolor-light;
            cursor: pointer;
            padding: 10px 16px;
            color: @text-black-light;
            font-size: 1.1rem;
            border-bottom: 1px solid #eee;
        }
        li.listitem:hover {
            background-color: rgb(241, 241, 241);
        }
    }
}
div.DropdownButton.alert {
    div.DropdownButtonClickable {
        border: 1px solid @alert-red;
        h6.description {
            color: @alert-red;
        }
    }
}

// KeywordsField

div.KeywordsField.focus {
    div.inputOuter {
        div.footer {
        }
        p.press.show {
            opacity: 1;
        }
    }
}
div.KeywordsField {

    div.inputOuter {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        border: none;
        overflow: visible;

        ul.keywords {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            li.keyword {
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                border-radius: 1px;
                margin-right: 9px;
                p.label {
                    padding: 0 8px 0 0;
                }
                button.delete {
                    svg.cancelIconSVG {
                        cursor: pointer;
                        width: 11px;
                        height: 11px;
                        padding: 1px;
                    }

                }
            }
            li.keyword.scope {
                border: 1px solid @keyword-scope-border;
                background: @keyword-scope-bg;
            }
        }

        input.keywordsform {
            flex: 1 0 70%;
            margin: 0;
            font-size: 1rem;
            max-width: 140px;
            min-width: 100px;
        }

        input.keywordsform:focus {
            outline: 2px solid transparent;
            outline-offset: 2px;
            margin-right: 8px;
        }

        div.footer {
            p.alertMessage {
                position: absolute;
                top: 38px;
                left: 14px;
                color: @alert-red;
                font-size: 0.8rem;
            }
        }
        p.press {
            .transitionAll(0.3s);
            opacity: 0;
            font-size: 0.8em;
        }
        p.press strong {
            margin-left: 5px;
        }
    }
}
div.KeywordsField.focus {
    div.inputOuter {
        input.keywordsform {
            max-width: 140px;
            min-width: 100px;
        }
    }
}

// GradientViewLoader
div.gradientViewIndicator {
    width: 100%;
    div.container {
        div.indicator-wrapper {
            padding: 6px 0 6px 0;  // this value should be correspond with the inputOuter display height
        }
        svg {
        }
    }
}

// TableView
div.TableView {
    @cell-border-bottom: #ddd;
    @header-border-bottom: #e5e5e5;
    @cell-hader-label-bg: #007BFF; // Placeholder for blue color
    @cell-header-label: #ffffff; // White color for text inside a blue label
    @cell-header-title: #333333;
    @cell-body-text: #555555;
    @cell-footer-text: #777777;
    @footer-border-top: #e5e5e5;

    div.tableViewContainer {
        // Styles for the overall container
        display: flex;
        flex-direction: column;

        div.tableViewHeader {
            // Styles for the table header
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
            border-bottom: 1px solid @header-border-bottom; // Example styling
        }

        div.tableView {
            // Styles for the main table content
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            ul.tableListView {
                // Styles for the list containing cells
                list-style-type: none;
                margin: 0;
                padding: 0;

                li.tableViewCell {
                    // Base styles for each cell
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 10px 15px;
                    border-bottom: 1px solid @cell-border-bottom; // Example styling
                    flex-direction: column;
                    align-items: start;

                    div.header {
                        span.label {
                            float: right;
                            background-color: @cell-hader-label-bg; //blue;
                            color: @cell-header-label;
                            padding: 2px 7px;
                            border-radius: 2px;
                            font-size: 0.78rem;
                            font-weight: 200;
                        }
                        p.title {
                            float: left;
                            font-size: 1.2rem;
                            font-weight: 300;
                            color: @cell-header-title;
                        }
                    }
                    div.body {
                        p.text {
                            color: @cell-body-text;
                            font-weight: 100;
                            font-size: 0.9rem;
                        }
                    }
                    div.footer {
                        margin: 6px 0 0 0;
                        font-size: 0.7rem;
                        color: @cell-footer-text;
                    }
                }
            }
        }

        div.tableViewFooter {
            // Styles for the table footer
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
            border-top: 1px solid @footer-border-top; // Example styling
        }
    }
}