@charset "UTF-8";
// view_controllers.less

section.spl-inputPageView {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    div.spl-inputPageViewContainer {
        margin: 30px 0 0 0;
        width: 29%;
        ul.spl-inputPageViewPages {
            li.spl-inputPageViewPage {
                display: flex;
                flex-direction: column;
                h2.spl-inputPageViewPageTitle {
                    font-size: 2.2rem;
                    font-weight: 100;
                    color: @text-black;
                    margin: 30px 0 20px;
                
                }
                p.spl-inputPageViewPageDescription {
                    font-weight: 100;
                    margin: 10px 0 30px;
                
                }
                div.spl-textField {
                    margin: 10px 0 10px;
                    input {
                        color: @text-black;
                    }
                }
                div.spl-dropdownButton {
                    margin: 10px 0 10px;
                    ul.spl-listmenu {
                        top: 10%;
                        height: 46%;
                        width: 17%;
                        overflow-y: scroll;
                    }
                
                }
                div.spl-textField:hover,
                div.spl-dropdownButton:hover {
                    animation: focus 200ms @cubic-bezier1 1 forwards;
                }
                button.spl-nextButton {
                    margin: 50px auto 10px auto;
                    width: 109px;
                    padding: 5px 0 5px 0;
                }
                button.spl-backButton {
                    margin: 10px 0 10px;
                
                }
                div.spl-alertMessage {
                    p {
                        text-align: center;
                        color: @alert-red;
                    }
                }
                div.spl-wrapper {
                    display: flex;
                    flex-direction: row;
                }
            }
            #signupViewPage1 {
                div.spl-inputOuter input{
                    margin: 4px 0 0 0;
                }
                #cityProvinceWrapper {
                    flex-direction: row;
                }
                #signupViewCityTextField {
                    width: 48%;
                    display: inline-flex;
                    margin-right: 26px;
                }
                #signupViewProvinceTextField {
                    width: 48%;
                    display: inline-flex;
                }
                #signupViewPositionMap {
                    #map {
                        width: 100%;
                        height: 200px;
                    }
                }

            }
        }
    }
}

@keyframes focus {
    0% {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 1px 5px rgba(0, 0, 0, .22);
    }
}