@title: #000;
@subtitle: #adadad;
@alert-red: #8c1111;
@ease: cubic-bezier(.65,0,.34,1); 
@tablet-width: 768px;
@smartphone-width: 480px;
@keyframes fadeEffect {
    0%, 100% { opacity: 0.15; }  /* Start and end at the initial opacity */
    50% { opacity: 0.3; }      /* Reach maximum opacity at the halfway point */
}
#signup, #signin {
    @alert-red: #8c1111;
    height: 100vh;
    //background-color: #585858;
    //background: linear-gradient(15deg, #1e455f, #5224a3);
    //background: linear-gradient(15deg, #101c5c, #2373a7);
    background: linear-gradient(15deg, #1e455f, #5224a3);
    //background: linear-gradient(15deg, #26075e, #2373a7);
    .spl-PageView {
        background-color: #fff;
        display: block;
        width: 75%;
        max-width: 671px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        //box-shadow: 0 5px 15px #c6c6c6;
        overflow: hidden;
        padding: 24px 28px;
        .spl-PageViewContainer {
            img.back {
                width: 39px;
                padding: 0px 18px 18px 0;
                cursor: pointer;
                transition: transform 0.2s @ease;
            }
            img.back:hover {
                transform: translate(-10%, 0%);
            }
            div.logoContainer {
                margin-bottom: 13px;
                img.logo {
                    width: 108px;
                }
            }
            h3.spl-title {
                font-size: 1.6em;
                color: @title;
                margin-bottom: 8px;
                text-align: center;
            }
            p.spl-subtitle {
                font-size: 0.9em;
                color: @subtitle;
                margin-bottom: 23px;
                text-align: center;
                padding: 0 46px;
            }
            div.container {
                display: flex;
                flex-direction: column;
                align-items: center;
                div.separator {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    span.line {
                        width: 400px;
                        height: 0px;
                        border-bottom: 1px solid #e5e5e5;
                    }
                    p.spl-or {
                        font-size: 0.8em;
                        color: #aaa;
                        margin: 0px 10px;
                        width: max-content;
                    }
                }
                div.spl-TextField {
                    width: 70%;
                    div.spl-inputOuter {
                        border: none;
                        h6.spl-title {

                        }
                        div.spl-inputWrapper {
                            input {
                                font-size: 1em;
                                margin: 0;
                                border: 1px solid #bdbdbd;
                                padding: 8px;
                                border-radius: 4px;
                                //box-shadow: 1px 1px 6px #f1f1f1;
                            }
                            input::placeholder {
                                font-size: 0.9em;
                                color: #b7b7b7;
                            }
                            div.spl-inputAfter {

                            }
                        }
                        div.spl-footer {
                            div.spl-left {

                            }
                            div.spl-middle {

                            }
                            div.spl-right {

                            }
                            p.spl-alertMessage {
                                font-size: 0.8em;
                            }
                        }
                    }
                }
                div.spl-TextField.spl-alert{
                    div.spl-inputWrapper {
                        input {
                            border: 1px solid @alert-red !important;
                        }
                    }
                }
                button.spl-nextButton, button.backToTopButton {
                    margin-top: 18px;
                    background: #000;
                    border-radius: 3px;
                    color: #fff;
                    padding: 12px 20px;
                    font-size: 0.8em;
                    width: 220px;
                }
                p.pageAlert {
                    color: @alert-red;
                    font-size: 0.8em;
                    padding: 4px 0 0 0;
                }
            }
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.EmailPage {
        div.container {
            a.signInLink {
                cursor: pointer;
                color: #0055ff;
                margin-top: 12px;
                font-size: 0.8em;
                border-radius: 18px;
                padding: 8px 20px;
                transition: background-color 0.2s @ease;
            }
            a:hover {
                background-color: #f0f5ff;
            }
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.VerifyCodePage {
        div.container {
            div.spl-VerifyCodeForm {
                margin: 20px 0;
            }
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.VerifiedPage {
        div.container {
            img.icon {
                margin-top: 40px;
                width: 62px;
            }
            h4.verifiedMessage {
                margin-top: 11px;
                font-size: 1.2em;
                font-weight: 600;
            }
            div.presentNoticeContainer {
                margin-top: 24px;
                span.presentNoticeMain {
                    display: flex;
                    flex-direction: row;
                    p.mainHighlightText {
                        font-weight: 600;
                        color: #2c74e8;
                    }
                    p.mainUnhighlightText {
                        color: #565656;
                        margin-left: 3px;
                    }
                }
                p.subText {
                    margin-top: 17px;
                    margin-bottom: 14px;
                    text-align: center;
                    font-size: 0.8em;
                    color: #848484;
                }
            }
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.OriginPage {
        div.container {
            div.originWrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                margin-bottom: 50px;
                div.OriginForm {
                    width: 43%;
                    margin-right: 25px;
                    div.spl-inputOuter {
                        // FIXME: default font size is somehow large
                        h6.spl-title {
                            color: #3d3d3d;
                            font-weight: 700;
                            font-size: 12px;
                            margin-bottom: 7px;
                        }
                        div.spl-footer {
                            margin-top: 4px;
                            p.spl-alertMessage {
                                font-size: 11px;
                            }
                        }
                    }
                }
                div.explanation {
                    background-color: #f0f0f0;
                    padding: 10px 25px;
                    width: 50%;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: row;
                    img {
                        width: 20px;
                        margin-right: 17px;
                    }
                    p {
                        font-size: 12px;
                        font-weight: 600;
                        color: #2d2d2d;
                    }
                    p.spl-alert {
                        color: @alert-red;
                    }
                }
            }
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.CardPage {
        max-height: 640px;
        overflow-y: auto;
        div.container {
            div.CardInputView {
                padding: 0 60px;
                width: 100%;
                margin-bottom: 15px;
                img.spl-loading {
                    width: 60px;
                    padding: 50px 0px 100px 0;
                    margin: 0 auto;
                    display: block;
                }
            }
            img.stripeLogo {
                width: 120px;
            }
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.LimitPage {
        div.container {
            padding: 28px 114px;
            div.line1 {
                display: flex;
                flex-direction: row;
                align-items: center;
                span.max {
                    margin-right: 11px;
                    min-width: 33px;
                    text-align: center;
                }
                div.LimitForm {
                    width: 150px;
                    div.spl-inputOuter {
                        div.spl-inputWrapper {
                            border: 1px solid #dfdfdf;
                            border-radius: 4px;
                            box-shadow: 0 1px 3px #f1f1f1;
                            input {
                                border: none;
                                height: 45px;
                                width: 98px;
                                font-size: 1em;
                                margin: 0;
                            }
                        }
                        div.spl-inputAfter {
                            div.spl-incrementButton {
                                width: 28px;
                                button {
                                    img {
                                        width: 13px;
                                    }
                                }
                            }
                        }
                        div.spl-footer {
                            p.spl-alertMessage {
                                font-size: 0.75em;
                            }
                        }
                    }
                }
                span.maxDesc {
                    min-width: 44px;
                    text-align: center;
                }
            }
            div.line2 {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin-top: 25px;
                background-color: #fafafa;
                padding: 12px 18px;
                border-radius: 5px;
                span.maxCharge {
                    font-size: 0.9em;
                    margin-right: 24px;
                }
                span.maxEstimatedUsage {
                    font-size: 1em;
                    font-weight: 500;
                    color: #214fe5;
                }
            }
            div.notes {
                font-size: 0.75em;
                margin-top: 30px;
                color: #787878;
                p {
                    margin-bottom: 2px;
                }
            }
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.TermsPage {
        h4.spl-title {
            font-weight: 700;
            margin-bottom: 31px;
        }
        div.spl-TermsScrollView {
            margin-bottom: 30px;
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.CompletePage {
        div.container {
            padding: 44px 31px;
            img.icon {
                margin-top: 40px;
                width: 62px;
            }
            h4 {
                font-size: 1.2em;
                margin-bottom: 26px;
            }
            p {
                font-size: 0.9em;
                margin-top: 4px;
                color: #8f8f8f;
            }
        }
        button.spl-nextButton {
            span.spl-LoadButtonLabel {
                width: 200px;
            }
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.RestrictedPage {
        div.container {
            h4.restrictedMessage {
                white-space: pre-wrap;
                text-align: center;;
            }
            button.backToTopButton {
            }
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.SentPage,
    div.spl-PageViewContainer.DonePage {
        div.container {
            padding: 34px 31px;
            img.icon {
                margin-bottom: 10px;
                width: 62px;
            }
            h4 {
                font-size: 1.2em;
                margin-bottom: 20px;
            }
            p {
                font-size: 0.9em;
                margin-top: 4px;
                color: #8f8f8f;
            }
        }
        button.spl-nextButton {
            span.spl-LoadButtonLabel {
                width: 150px;
            }
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.EmailPage.LoginPage {
        div.container {
            p.passwordForgotLink {
                cursor: pointer;
                color: #0055ff;
                margin-top: 12px;
                font-size: 0.8em;
                border-radius: 18px;
                padding: 8px 20px;
                transition: background-color 0.2s @ease;
            }
            p:hover {
                background-color: #f0f5ff;
            }
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer.ResetPage {
        div.container {
        }
    }
}

#signup, #signin {
    div.spl-PageViewContainer {
        .btn-loading() {
            transition: 
                width 0.2s @ease,
                height 0.2s @ease,
                color 0.2s @ease,
                border-radius 0.2s @ease,
                background-color 0.3s @ease;
        }
        button.btn-loading {
            .btn-loading();
        }
        button.btn-loading:hover {
            //width: 120px !important;
            //border-radius: 30px !important;
            //color: transparent !important;
        }
        button.btn-loading.spl-load {
            background-color: #aaa !important;
            //height: 6px !important;
        }
    }
}

@media (max-width: @smartphone-width) {
    #signup, #signin {
        .spl-PageView {
            .spl-PageViewContainer {
                img.back:hover {
                }
                div.logoContainer {
                    img.logo {
                    }
                }
                h3.spl-title {
                }
                p.spl-subtitle {
                    padding: 0 0;
                }
                div.container {
                    div.separator {
                        span.line {
                        }
                        p.spl-or {
                        }
                    }
                    div.spl-TextField {
                        width: 100%;
                        div.spl-inputOuter {
                            div.spl-inputWrapper {
                                input {
                                }
                                input::placeholder {
                                }
                                div.spl-inputAfter {
                                }
                            }
                            div.spl-footer {
                                p.spl-alertMessage {
                                }
                            }
                        }
                    }
                    div.spl-TextField.spl-alert {
                        div.spl-inputWrapper {
                            input {
                            }
                        }
                    }
                    button.spl-nextButton {
                    }
                    p.pageAlert {
                    }
                }
            }
        }
    }

    div.spl-PageViewContainer.EmailPage, div.spl-PageViewContainer.ForgotPage, div.spl-PageViewContainer.ResetPage {
        div.container {
            #emailForm, #passwordForm, #passwordConfirmForm, #forgotForm, #passwordResetForm, #passwordResetConfirmForm {
                width: 100%;
            }
        }
    }

    div.spl-PageViewContainer.VerifyCodePage {
        div.container {
            div.spl-VerifyCodeForm {
            }
        }
    }

    div.spl-PageViewContainer.VerifiedPage {
        div.container {
            img.icon {
            }
            h4.verifiedMessage {
            }
            div.presentNoticeContainer {
                span.presentNoticeMain {
                    display: block;
                    p.mainHighlightText, p.mainUnhighlightText {
                        display: inline-block;
                    }
                }
                p.subText {
                    text-align: left;
                }
            }
        }
    }

    div.spl-PageViewContainer.OriginPage {
        div.container {
            div.originWrapper {
                flex-direction: column;
                margin-bottom: 17px;
                div.OriginForm {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 27px;
                    div.spl-inputOuter {
                        padding: 0;
                        h6.spl-title {
                        }
                        div.spl-footer {
                            p.spl-alertMessage {
                            }
                        }
                    }
                }
                div.explanation {
                    width: 100%;
                    img {
                    }
                    p {
                    }
                    p.spl-alert {
                    }
                }
            }
        }
    }

    div.spl-PageViewContainer.CardPage {
        div.container {
            div.CardInputView {
                padding: 0;
                img.spl-loading {
                }
            }
            img.stripeLogo {
            }
        }
    }

    div.spl-PageViewContainer.LimitPage {
        div.container {
            padding: 0px 0;
            div.line1 {
                span.max {
                    flex: 1.5;
                    margin-right: 5px;
                    font-size: 0.9em;
                }
                div.LimitForm {
                    flex: 2;
                    margin-right: 4px;
                    div.spl-inputOuter {
                        padding: 4px 0 4px 0px;
                        div.spl-inputWrapper {
                            input {
                            }
                        }
                        div.spl-inputAfter {
                            div.spl-incrementButton {
                                button {
                                    img {
                                    }
                                }
                            }
                        }
                        div.spl-footer {
                            p.spl-alertMessage {
                            }
                        }
                    }
                }
                span.maxDesc {
                    flex: 1;
                    font-size: 0.9em;
                }
            }
            div.line2 {
                span.maxCharge {
                }
                span.maxEstimatedUsage {
                }
            }
            div.notes {
                p {
                }
            }
        }
    }

    div.spl-PageViewContainer.TermsPage {
        h4.spl-title {
        }
        div.spl-TermsScrollView {
            div.spl-termsViewContainer {
                width: 100%;
                div.spl-termsView {
                    div.terms {
                        padding: 10px;
                    }
                }
            }
        }
    }

    div.spl-PageViewContainer.CompletePage {
        div.container {
            padding: 19px 0px;
            img.icon {
            }
            h4 {
                margin-bottom: 17px;
            }
            p {
            }
        }
        button.spl-nextButton {
            span.spl-LoadButtonLabel {
            }
        }
    }

    div.spl-PageViewContainer.SentPage,
    div.spl-PageViewContainer.DonePage {
        div.container {
            img.icon {
            }
            h4 {
            }
            p {
            }
        }
        button.spl-nextButton {
            span.spl-LoadButtonLabel {
            }
        }
    }

    div.spl-PageViewContainer.EmailPage.LoginPage {
        div.container {
            p.passwordForgotLink:hover {
            }
        }
    }

    div.spl-PageViewContainer.ResetPage {
        div.container {
        }
    }

    div.spl-PageViewContainer {
        button.btn-loading:hover {
        }
        button.btn-loading.spl-load {
        }
    }
}