@cubic-bezier1: cubic-bezier(.65,0,.34,1);
@cubic-bezier2: cubic-bezier(.4, 0, .2, 1);
@alert-red: #8c1111;

body.dark {
    --customize-preview-bg: #eaeaea;
}

#MainContainer #MainContent div.CustomizeContainer {
    padding: 20px 20px;
}

// Customize Container
div.container.CustomizeContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

// Customize Items
div.container.CustomizeContainer {
    min-height: 900px;
    overflow-y: hidden;
    div.CustomizeItems {
        p.spl-alertMessage {
            font-size: 0.8em;
            color: @alert-red;
            padding: 8px 0 0 16px;
        }
        div.spl-TextField {
            div.spl-inputOuter {
                overflow: visible;
                overflow-y: visible;
                h6.spl-title {

                }
                div.spl-inputWrapper {

                }
                div.spl-footer {
                    height: 20px;
                    max-width: 100px;
                    p.spl-alertMessage {
                        font-size: 0.75em;
                        padding: 0;
                    }
                }
            }
        }
        div.spl-TextField.spl-Incrementer {
            width: max-content;
            margin-right: 10px;
            div.spl-inputOuter {
                padding: 0;
                h6.spl-title {
                    color: #fff;
                    font-size: 0.8em;
                }
                div.spl-inputWrapper {
                    width: 98px;
                    border: 1px solid #989898;
                    border-radius: 4px;
                    box-shadow: 0 1px 3px #393939;
                    input {
                        height: 41px;
                        border: none;
                        font-size: 1em;
                        margin: 0;
                        max-width: 71px;
                        border: none;
                        border-radius: 0;
                    }
                }
                div.spl-inputAfter {
                    margin-left: 0 !important;
                    div.spl-incrementButton {
                        width: 28px;
                        button {
                            img {
                                width: 13px;
                            }
                        }
                    }
                }
                div.spl-footer {
                    padding: 4px 0 0 0;
                    font-size: 0.9em;
                    display: block;
                    p.spl-alertMessage {
                        font-size: 0.75em;
                    }
                }
            }
        }
        div.spl-TextField.spl-Incrementer.spl-alert {
            div.spl-inputOuter {
                div.spl-inputWrapper {
                    border: 1px solid @alert-red;
                    input {
                        border: none !important;
                    }
                }
            }
        }
        div.spl-RadioButton.ButtonType {
            padding: 14px 14px 0 14px;
            padding-bottom: 14px;
            width: max-content;
            div.spl-inputOuter {
                h6.spl-title {
                    -webkit-font-smoothing: antialiased;
                    color: #fff;
                    font-size: 0.8em;
                    margin-bottom: 10px;
                }
                div.spl-inputWrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-left: 7px;
                    div.spl-item {
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-right: 20px;
                        input[type=radio] {
                            cursor: pointer;
                        }
                        span.spl-checkbox {
                            display: block;
                            width: 20px;
                            height: 20px;
                            background-color: #505050;
                            border-radius: 10px;
                            margin-right: 6px;
                            transition: background-color 0.2s @ease;
                        }
                        label {
                            cursor: pointer;
                            color: #fff;
                        }
                    }
                    div.spl-item.spl-checked {
                        span.spl-checkbox {
                            background-color: #005275;
                            border: 1px solid #2b89ae;
                        }
                    }
                    div.spl-item:not(.spl-checked):hover {
                        span.spl-checkbox {
                            background-color: #ababab;
                        }

                    }
                    div.spl-inputAfter {

                    }
                }
                div.spl-footer {
                    padding: 0;
                    p.spl-alertMessage {
                        font-size: 0.75em;
                    }
                }
            }

        }
        div.CustomizeItemWrapper {
            padding: 14px 14px 0px 14px;
            h4.spl-subtitle {
                color: #fff;
                font-size: 0.8em;
                margin-bottom: 10px;
            }
        }

        // ButtonSize, BalloonSize
        div.ButtonSizeWrapper, div.BalloonSizeWrapper {
            h4.spl-subtitle {
            }
            div.ButtonSizeForms, div.BalloonSizeForms {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: max-content;
                padding-left: 5px;
                div.ButtonWidthForm, div.ButtonHeightForm, div.BalloonWidthForm, div.BalloonHeightForm {
                    position: relative;
                    div.spl-inputOuter {
                        h6.spl-title {
                            margin-bottom: 11px;
                        }
                        div.spl-inputWrapper {
                            input {

                            }
                            div.spl-inputAfter {
                                div.spl-incrementButton {
                                    button {

                                    }
                                }
                            }
                        }
                        div.spl-footer {

                        }
                        span.spl-unit {
                            position: absolute;
                            top: 46px;
                            left: 107px;
                            color: #fff;
                            font-size: 0.8em;
                        }

                    }
                }
                div.ButtonWidthForm, div.BalloonWidthForm {
                    margin-right: 40px;
                }
            }
        }
        // ButtonColor
        div.ButtonColorWrapper {
            padding-bottom: 14px;
            h4.spl-subtitle {

            }
            div.ButtonColorPicker {
                padding-left: 7px;
                div.ButtonColorPickerDisplay {
                    border: 3px solid #5b5b5b;
                    border-radius: 15px;
                }
                input {

                }
            }
        }
        // ButtonFontSize
        div.ButtonFontSizeWrapper {
            div.FontSizeForm {
                div.spl-inputOuter {
                    padding: 0;
                    overflow-y: visible;
                    border: none;
                    h6.spl-title {
                        color: #fff;
                        font-size: 0.8em;
                        margin: 0 0 10px 0;
                    }
                    div.spl-inputWrapper {
                        width: max-content;
                        padding-left: 7px;
                        input {
                            max-width: none;
                            width: 73px;
                            height: 41px;
                            border-radius: 3px;
                            margin-right: 10px;
                            background-color: #fff;
                            margin: 0;
                            margin-right: 14px;
                        }
                        div.spl-inputAfter {
                            margin-left: 0px;
                            span.spl-unit {
                                color: #fff;
                                font-size: 0.8em;
                            }
                        }
                    }
                    div.spl-footer {
                        justify-content: start;
                        padding: 5px 0;
                        max-width: 230px;
                        gap: 0;
                        padding: 0;
                        p.spl-alertMessage {
                            padding-left: 7px;
                            padding-top: 2px;
                        }
                    }
                }
            }
        }
    }
}

// ModelSelect
div.CustomizeItems div.ModelSelectWrapper, div.CustomizeItems div.ResponseModeWrapper {
    &.ModelSelectWrapper {
        margin-bottom: 12px;
    }

    h4.spl-subtitle {

    }
    div#ModelSelectDropdown.spl-DropdownButton, div#ResponseModeDropdown.spl-DropdownButton {
        &#ResponseModeDropdown {
            margin-bottom: 10px;
        }
        &.spl-alert {
            div.spl-DropdownButtonClickable {
                border: 1px solid @alert-red;
                h6.spl-description {
                    color: @alert-red;
                }
            }
        }

        div.spl-DropdownButtonClickable {
            h6.spl-description {
            }
            span.spl-title {
                color: #fff;
                font-size: 13px;
            }
            img.spl-downarrow {
            }
            div.spl-footer {
                padding: 0;
                p.spl-alertMessage {
                    color: @alert-red;
                }
            }
        }
        ul.spl-listmenu {
            max-width: 300px;
            li.spl-listitem {
                font-size: 14px;
                &:first-child {
                    border-radius: 15px 15px 0 0; /* Top-left and top-right corners */
                }
        
                &:last-child {
                    border-radius: 0 0 15px 15px; /* Bottom-left and bottom-right corners */
                }
            }
            li.spl-listitem:hover {
            }
        }
    }
}


// Customize Preview
div.CustomizePreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    width: 100%;
    min-height: 300px;
    padding: 20px 0 0 0;
    div.PreviewWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--customize-preview-bg);
        border-radius: 1px;
        min-width: 300px;
        height: 400px;
        //width: 300px;
        //min-height: 300px;
        width: 80%;
        padding: 50px 0 50px 0;
        margin-bottom: 25px;
        div.QBTN-button-loader {
            min-height: 41px;
            div.QBTN-locale-button {
                width: 36px !important;
                height: 17px !important;
            }
        }
    }
    div.CodeViewWrapper {
        width: 80%;
        min-width: 300px;
        pre.CodeView {
            position: relative;
            background-color: #d5d5d5;
            //padding: 8px;
            white-space: pre-wrap;
            word-break: break-all;
            font-family: 'Consolas', 'Monaco', monospace;
            font-size: 0.8em;
            border-radius: 3px;
            .hljs-tag { // < >
                color:  #f1f1f1;
            }
            .hljs-name { // div, span
                color: #2c89ae;//#588796;//#77aaba;
            }
            .hljs-attr { // id
                color: #cfcfcf;// #a1b77d;
            }
            .hljs-string {
                color: #7b7b7b;//#647982;

            }
            code {
                background-color: #383838; //#d5d5d5;
               // background-color: #eee;
                padding: 33px 28px 33px 28px;
                display: block;
                overflow-x: auto;
            }
            img.CopyButton {
                position: absolute;
                width: 16px;
                top: 10px;
                right: 10px;
                color: #333;
                border: none;
                cursor: pointer;
            }
            span.tooltip {
                position: absolute;
                top: 0px; /* Adjust based on your layout */
                left: 50%;
                font-size: 0.9em;
                transform: translateX(-0%);
                background-color: black;
                color: white;
                padding: 5px 10px;
                white-space: nowrap;
                opacity: 0;
                visibility: hidden;
                transition: visibility 0s linear 0.3s, opacity 0.3s @ease;
                border-radius: 3px; /* Optional: Adds rounded corners to the tooltip */
                box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a slight shadow for better visibility */
            }
            span.tooltip.copied {
                transform: translateX(-23%);
            }
            @keyframes fadeIn {
                from { opacity: 0; }
                to { opacity: 1; }
            }
            
            @keyframes fadeOut {
                from { opacity: 1; }
                to { opacity: 0; }
            }
            span.tooltip.visible {
                visibility: visible;
                animation: fadeIn 0.3s @ease forwards; /* Smooth fade-in effect */
            }
            span.tooltip.spl-fade-out {
                animation: fadeOut 0.5s @ease forwards; /* Smooth fade-out effect */
                transition: visibility 0s linear 0.3s; /* Delay hiding the tooltip until fade-out completes */
            }
            img.CopyButton:hover + span.tooltip {
                    opacity: 1;
                    visibility: visible;
            }
        }
    }
}


@media (min-width: @tablet-width) {
}

@media (max-width: @smartphone-width) {
    // Customize Container
    div.container.CustomizeContainer {
        flex-direction: column;
    }
    // Customize Items
    div.container.CustomizeContainer {
        div.CustomizeItems {
            p.spl-alertMessage {
            }
            div.spl-TextField {
                div.spl-inputOuter {
                    h6.spl-title {
                    }
                    div.spl-inputWrapper {
                    }
                    div.spl-footer {
                        p.spl-alertMessage {
                        }
                    }
                }
            }
            div.spl-TextField.spl-Incrementer {
                div.spl-inputOuter {
                    h6.spl-title {
                    }
                    div.spl-inputWrapper {
                        input {
                        }
                    }
                    div.spl-inputAfter {
                        div.spl-incrementButton {
                            button {
                                img {
                                }
                            }
                        }
                    }
                    div.spl-footer {
                        p.spl-alertMessage {
                        }
                    }
                }
            }
            div.spl-TextField.spl-Incrementer.spl-alert {
                div.spl-inputOuter {
                    div.spl-inputWrapper {
                        input {
                        }
                    }
                }
            }
            div.spl-RadioButton.ButtonType {
                padding: 14px 10px 14px 10px;
                div.spl-inputOuter {
                    h6.spl-title {
                    }
                    div.spl-inputWrapper {
                        div.spl-item {
                            input[type=radio] {
                            }
                            span.spl-checkbox {
                            }
                            label {
                            }
                        }
                        div.spl-item.spl-checked {
                            span.spl-checkbox {
                            }
                        }
                        div.spl-item:not(.spl-checked):hover {
                            span.spl-checkbox {
                            }
                        }
                        div.spl-inputAfter {

                        }
                    }
                    div.spl-footer {
                        p.spl-alertMessage {
                        }
                    }
                }

            }
            div.CustomizeItemWrapper {
                padding: 14px 10px 0px 10px;
                h4.spl-subtitle {
                }
            }

            // ButtonSize, BalloonSize
            div.ButtonSizeWrapper, div.BalloonSizeWrapper {
                h4.spl-subtitle {
                }
                div.ButtonSizeForms, div.BalloonSizeForms {
                    div.ButtonWidthForm, div.ButtonHeightForm, div.BalloonWidthForm, div.BalloonHeightForm {
                        div.spl-inputOuter {
                            h6.spl-title {
                            }
                            div.spl-inputWrapper {
                                input {
                                }
                                div.spl-inputAfter {
                                    div.spl-incrementButton {
                                        button {
                                        }
                                    }
                                }
                            }
                            div.spl-footer {
                            }
                            span.spl-unit {
                           }

                        }
                    }
                    div.ButtonWidthForm, div.BalloonWidthForm {
                    }
                }
            }
            // ButtonColor
            div.ButtonColorWrapper {
                padding-left: 10px;
                padding-right: 10px;
                h4.spl-subtitle {

                }
                div.ButtonColorPicker {
                    div.ButtonColorPickerDisplay {
                    }
                    input {

                    }
                }
            }
            // ButtonFontSize
            div.ButtonFontSizeWrapper {
                padding-left: 10px;
                padding-right: 10px;
                div.FontSizeForm {
                    div.spl-inputOuter {
                        h6.spl-title {
                        }
                        div.spl-inputWrapper {
                            input {
                            }
                            div.spl-inputAfter {
                                span.spl-unit {
                                }
                            }
                        }
                        div.spl-footer {
                            p.spl-alertMessage {
                            }
                        }
                    }
                }
            }
        }
    }
    // Customize Preview
    div.CustomizePreview {
        div.PreviewWrapper {
            min-width: 106%;
            padding: 20px 10px;
            div.QBTN-quantz-button-loader {
            }
        }
        div.CodeViewWrapper {
            pre.CodeView {
                code {
                    padding: 28px 24px;
                }
                img.CopyButton {
                }
                span.tooltip {
                }
                span.tooltip.copied {
                }
                span.tooltip.visible {
                }
                span.tooltip.spl-fade-out {
                }
                img.CopyButton:hover + span.tooltip {
                }
            }
        }
    }
}
 