@alert-red: #8c1111;
@cubic-bezier1: cubic-bezier(.65,0,.34,1);

// ModalView
div#InterviewSettingsModalView {
    div.spl-bg {
        background-color: rgb(22 22 22 / 50%) !important;
    }
    div.spl-window {
        max-width: 850px;
        div.spl-contentWrapper {
            height: 80vh;
            //background-color: #2e2e2e;
            border-bottom: 1px solid #e4e4e4;
            overflow-y: scroll;
            h3.spl-ModalViewTitle {

            }
        }

        div.spl-modalViewFooter {
            height: 63px;
            p.spl-message {
                width: 100%;
                font-size: 14px;
            }
            p.spl-alert {
                color: @alert-red;
            }
            p.spl-success {
                color: #000;
            }
            button {
                height: 100%;
                width: 110px;
                margin-left: 10px;
                border-radius: 26px;
                &.spl-cancelButton {

                }
                &.spl-doneButton {
                    &:hover {
                        background-color: #465458;
                        border: 1px solid #4d4d4d;
                    }
                }
            }
        }
    }
}

div#InterviewSettingsModalViewMainContent {
    div.InterviewLinkView {

    }

    span.spl-label {
        font-size: 12px;
        font-weight: 700;
        color: #747474;
    }
    span.separator {
        width: 100%;
        display: block;
        border-bottom: 1px solid #e4e4e4;
    }

    div.InterviewResultsView {
        margin-top: 19px;
        margin-bottom: 20px;
    }
}

@tablet-width: 768px;
@smartphone-width: 480px;

@media (min-width: @tablet-width) {
}

@media (max-width: @smartphone-width) {
    // ModalView
    div#InterviewSettingsModalView {
        div.spl-bg {
        }
        div.spl-window {
            left: 49%;
            width: 90%;
            div.spl-contentWrapper {
                overflow-x: hidden;
                h3.spl-ModalViewTitle {
                }
            }
            div.spl-modalViewFooter {
                p.spl-message {
                }
                p.spl-alert {
                }
                p.spl-success {
                }
                button {
                    &.spl-cancelButton {
                    }
                    &.spl-doneButton {
                    }
                }
            }
        }
    }

    div#InterviewSettingsModalViewMainContent {
        div.InterviewLinkView {
        }
        span.spl-label {
        }
        span.separator {
        }
        div.InterviewResultsView {
        }
    }
}