@input-field-bg: none;//#343434;
@input-field-text: #fff;
@input-field-press-label: #fff;
@input-field-placeholder: #5e5e5e; //#6f6f6f;
@keyword-bg: #414141;
@keyword-text: #fff;
@keyword-scope-bg: #878787;
@keyword-scope-border: #909090;
@loader-element: #4a4a4a;
@alert-red: #c88f8f;

div.MaterialKeywordsField {
    margin-top: 30px;
    width: 100%;
    .border-radius(@radius: 5px);

    div.spl-inputOuter {
        display: flex;
        align-items: center;
        flex-direction: row;
        border: none;
        background: @input-field-bg;
        overflow: visible;

        ul.spl-keywords {
            li.spl-keyword {
                background-color: @keyword-bg;
                border-radius: 1px;
                padding: 0 0 0 8px;
                margin-right: 9px;
                .box-shadow (1px, 1px, 2px, 0px, rgba(0, 0, 0, 0.3));
                p.spl-label {
                    color: @keyword-text;
                    font-size: 0.9em;
                    padding: 0 8px 0 0;
                    border-radius: 1px 0px 0px 1px
                }
                button.spl-delete {
                    border-radius: 0px 1px 1px 0px
                }
            }
            li.spl-keyword.spl-scope {
                border: 1px solid @keyword-scope-border;
                background-color: @keyword-scope-bg;
            }
        }

        div.spl-inputWrapper {
            width: auto;
            input.spl-keywordsform {
                flex: 1 0 70%;
                color: @input-field-text;
                margin: 0;
                font-size: 1rem;
                caret-color: @input-field-caret;
                max-width: 140px;
                min-width: 100px;
            }
            input.spl-keywordsform:focus {
                outline: 2px solid transparent;
                outline-offset: 2px;
                margin-right: 8px;
            }
            ::placeholder {
                font-weight: 100;
                color: @input-field-placeholder;
            }
        }
        div.spl-footer {
            p.spl-alertMessage {
                position: absolute;
                top: 38px;
                left: 14px;
                color: @alert-red;
                font-size: 0.8rem;
            }
        }
        p.spl-press {
            font-size: 0.8em;
            color: @input-field-press-label;
        }
        p.spl-press strong {
            margin-left: 5px;
        }
    }
    div.spl-loader {
        background: @input-field-bg;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;

        ul.elements {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            padding: 4px 3px 4px 11px;

            li.element {
                border-radius: 1px;
                margin-right: 9px;
                background-color: @loader-element;
                height: 20px;
                width: 118px;
                animation: fadeinout 4s infinite; // 4s duration, infinite loop
                animation-fill-mode: both;

                @keyframes fadeinout {
                    0%, 100% { opacity: 0; }
                    50% { opacity: 1; }
                }
            }
            li:nth-child(1) { animation-delay: 0s; }
            li:nth-child(2) { animation-delay: 0.5s; }
            li:nth-child(3) { animation-delay: 1s; }
            li:nth-child(4) { animation-delay: 1.5s; }
            li:nth-child(5) { animation-delay: 2s; }
        }
    }
}
div.MaterialKeywordsField.spl-focus {
    div.spl-inputOuter {
    }
}
div.MaterialKeywordsField.onDisable {
    div.spl-inputOuter {
    }
}