header#StudioHeader {
    height: 54px;
}
div#MainContainer {
    display: flex;
    flex-direction: row;
    background-color: #2f2f2f;
    height: 100vh;
    padding-top: 53px;
    header#VerticalHeader {
        height: calc(100vh - 53px);
    }
    section#MainContent {

    }
}