@cubic-bezier1: cubic-bezier(.65,0,.34,1);

#VerticalHeader {
    width: 60px;
    min-width: 60px;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    div.upper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: baseline;
    }
    div.bottom {
        width: 100%;
    }
  
    div.logo-wrapper {
        display: none;
        padding: 8px 12px;
        img.logo {
            cursor: pointer;
            margin-top: 8px; // adjust this value as needed
            width: 27px;
        }
    }
    div.upper {
        ul.menu {
            li.item {
                margin-bottom: 10px;
            }
        }
    }
    div.bottom {
        ul.menu {
            li.item {
            }
        }

    }

    ul.menu {
        width: 100%;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 26px 0 0 0;

        li.item {
            cursor: pointer;
            width: 100%;
            height: 45px;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center; // Center the item horizontally
            position: relative; /* Position relative for the tooltip */
            background-color: transparent; /* Default background */
            border-radius: 21px;
            padding: 0 10px;
            transition: 
                background 0.2s @cubic-bezier1,
                border 0.2s @cubic-bezier1;
            &:hover {
                background: rgba(121, 121, 121, 0.5);
                border: 1px solid #777;
            }
            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            img.icon {
                width: 21px;
            }
            span.menuTitle {
                font-size: 13px;
                color: #b3b3b3;//#fff;
                display: none;
            }
            span.tooltip {
                position: absolute;
                top: 50%;
                left: 102%;
                font-size: 12px;
                transform: translateY(-50%);
                background-color: black;
                color: white;
                padding: 5px 10px;
                white-space: nowrap;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease, visibility 0.3s ease;
                border-radius: 3px; /* Optional: Adds rounded corners to the tooltip */
                box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a slight shadow for better visibility */
                z-index: 999;
            }
        }
        li.item:hover {
            span.tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
        li.logout {
            img.logoutIcon {
            }
        }
        li.settings {
            img.settingsIcon {

            }
        }
    }
}

@media (max-width: @smartphone-width) {
    #VerticalHeader {
        width: 100%;
        height: 50px;
        flex-direction: row;
        padding: 3px 10px;
        position: fixed;
        z-index: 2;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
        div.upper {
            flex-direction: row;
            img.logo {
                width: 32px;
                margin-top: 0;
                margin-right: 20px;
            }
            ul.menu {
                flex-direction: row;
                margin-bottom: 0;
                justify-content: flex-end;
                padding: 0;
                li.item {
                    width: 40px;
                }
                li.item.logout {
                    margin-right: 8px;
                }
            }
        }
        div.bottom {
            ul.menu {
                flex-direction: row;
                margin-bottom: 0;
                padding: 0;
                justify-content: flex-end;
                li.item {
                    width: 40px;
                }
                li.item.logout {
                    margin-right: 8px;
                }
            }
        }
    }
}