section.notfound {
    padding: 100px;
    background: #000;
    height: 100vh;
    div.code {
        font-size: 2em;
        color: #fff;
    }
    div.spl-message {
        color: #fff;
    }
}


section.internalerror {
    padding: 100px;
    background: #000;
    height: 100vh;
    div.spl-message {
        color: #fff;
    }
}