.button1(@border-color: #818181, @background-color-hover: rgba(110, 110, 110, 0.5)) {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    padding: 6px 17px;
    border: 1px solid @border-color;
    border-radius: 3px;
    img {
        width: 12px;
        margin-right: 6px;
    }
    transition: 
        color 0.2s @cubic-bezier1,
        background 0.2s @cubic-bezier1,
        border 0.2s @cubic-bezier1;
    &:hover {
        background: @background-color-hover;
        //border: 1px solid #bebebe;
    }
}

.loadButton() {
    transition: 
        width 0.2s @ease,
        height 0.2s @ease,
        color 0.2s @ease,
        border-radius 0.2s @ease,
        background-color 0.3s @ease;

    &:hover {
    }
    &.load {
    }
}

.tooltipBottom(@translate-x: translateX(0%), @background-color: #000, @top: 109%) {
    position: relative;
    span.tooltip {
        position: absolute;
        top: 109%;
        left: 0;
        font-size: 10px;
        //transform: translateY(-50%);
        transform: @translate-x;
        background-color: @background-color;
        color: white;
        padding: 5px 10px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        border-radius: 3px; /* Optional: Adds rounded corners to the tooltip */
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a slight shadow for better visibility */
    }
    &:hover {
        //border: 1px solid #bebebe;
        span.tooltip {
            opacity: 1;
            visibility: visible;
        }
    }
} 

.smallPanel(@border-color:#494949, @bg-color: #333, @border-radius: 3px, @hover-bg-color: #3d3d3d, @isHoverTransition: false) {
    cursor: pointer;
    background-color: @bg-color;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    padding: 9px 21px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    & when (@isHoverTransition = true) {
        transition:
          background-color 0.2s @cubic-bezier1,
          box-shadow 0.2s @cubic-bezier1,
          border 0.2s @cubic-bezier1;
    
        &:hover {
          background-color: @hover-bg-color;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          border: 1px solid lighten(@border-color, 10%);
        }
    }
}

.largePanel(@border-color:#727272, @bg-color: #333, @hover-bg-color: #3d3d3d) {
    cursor: pointer;
    background-color: @bg-color;
    border: 1px solid @border-color;
    border-radius: 6px;
    padding: 42px 45px;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.2);

    transition: 
        background-color 0.2s @cubic-bezier1,
        box-shadow 0.2s @cubic-bezier1,
        border 0.2s @cubic-bezier1;
    &:hover {
        background-color: @hover-bg-color;
        box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.4);
        border: 1px solid #949494;
    }
}

.screen-locked {
    overflow: hidden; 
    position: relative; 
    cursor: wait;
    &::after {
        content: "";
        position: fixed;     /* covers the entire viewport */
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 99999;
        pointer-events: auto;
    }
}

.menu() {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
 
    ul.menu {
        width: 100%;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 26px 0 0 0;

        li.item {
            cursor: pointer;
            width: 100%;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center; // Center the item horizontally
            position: relative; /* Position relative for the tooltip */
            background-color: transparent; /* Default background */
            border-radius: 2px;
            transition: 
                border-radius 0.2s @cubic-bezier1,
                background-color 0.2s @cubic-bezier1; /* Smooth transition */

            &.highlight {
                background-color: #303030;
                border-radius: 25px;
            }

            img.icon {
                width: 19px;
            }
            span.menuTitle {
                font-size: 12px;
                color: #b3b3b3;//#fff;
            }
            span.tooltip {
                position: absolute;
                top: 50%;
                left: 102%;
                font-size: 12px;
                transform: translateY(-50%);
                background-color: black;
                color: white;
                padding: 5px 10px;
                white-space: nowrap;
                opacity: 0;
                visibility: hidden;
                transition: 
                    opacity 0.3s @cubic-bezier1, visibility 0.3s @cubic-bezier1;
                border-radius: 3px; /* Optional: Adds rounded corners to the tooltip */
                box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a slight shadow for better visibility */
            }
        }
        li.item:hover {
            background-color: #727272;
            border-radius: 25px;
            span.menuTitle {
                color: #fff;
            }
            span.tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.menuIconHover(@width: 38px, @padding: 5px 7px) {
    width: @width;
    padding: @padding;
    transition: 
        border-radius 0.2s @cubic-bezier1,
        background-color 0.2s @cubic-bezier1; /* Smooth transition */
 
    &:hover {
        background-color: #727272;
        border-radius: 25px;
    }
 
}

.horizontalScrollListWrapper() {
    white-space: nowrap;
    overflow-y: visible;

    overflow-x: scroll;           // or auto, but typically scroll if you want to ensure it’s scrollable
    scrollbar-width: none;        // Firefox
    -ms-overflow-style: none;     // IE 10+

    &::-webkit-scrollbar {
        display: none;             // Chrome, Safari, Opera
    }
}

.horizontalScrollList() {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    width: max-content;
    overflow-y: visible;
}

.draggable() {
    cursor: grab;          /* Hand cursor when hovering */
    user-select: none;     /* Prevent text selection while dragging */
    transform-origin: center center; /* So zoom occurs from the container center */
    transform: translate(0, 0) scale(1);
    &:active {
        cursor: grabbing;      /* Hand closed when dragging */
    }
}

body.dark {
    .ModalView {
        display: block;

        div.bg {
            background-color: rgba(0, 0, 0, 0.5) !important;
        }

        div.window {

            div.contentWrapper {
                background-color: #2e2e2e;
                border-top: 1px solid #424040;
                border-left: 1px solid #424040;
                border-right: 1px solid #424040;
                border-bottom: none;
            
                h3.ModalViewTitle {
                    font-size: 18px;
                    color: #cdcdcd;
                }

                .mainContent {
                    color: #ffffff;

                    div.TextField {
                        div.inputOuter {
                            border: none;
                            div.inputWrapper {
                                background-color: #3f3f3f;
                                font-size: 1em;
                                margin: 0;
                                border: 1px solid #5a5a5a;
                                padding: 8px;
                                border-radius: 4px;
                                transition: border-color 0.3s @cubic-bezier1, background-color 0.3s @cubic-bezier1;

                                &:focus-within {
                                    border-color: #bebebe;
                                }

                                &:hover {
                                    background-color: lighten(#4e4e4e, 10%);
                                }
                            }
                            input {
                                margin: 0;
                                height: 38px;
                                color: #fff;
                                &::placeholder {
                                    font-size: 0.9em;
                                    color: #b7b7b7;
                                }
                            }
                            div.inputAfter {
                                margin-left: 20px;
                            }
                            div.footer {
                                background-color: transparent;
                                padding: 0;
                                div.left {
                                    span.indicator {
                                    }
                                }
                                div.middle {
                                    span.message {
                                    }
                                }
                                div.right {
                                }
                                p.alertMessage {
                                    font-size: 0.8em;
                                    color: #ffa0a0;
                                }
                            }
                        }
                    }
                }

                div.ModalViewAlert {

                }
            }

            div.modalViewFooter {
                background-color: #2e2e2e;
                border-bottom: 1px solid #424040;
                border-left: 1px solid #424040;
                border-right: 1px solid #424040;
                border-top: none;
            
                button.cancelButton {
                    min-width: 78px;
                    border: 1px solid #656565;
                    font-size: 12px;
                    color: #fff;
                    background-color: #3a3a3a;
                    margin-right: 20px;
                }

                button.doneButton {
                    min-width: 78px;
                    background-color: #3a3a3a;
                    color: #fff;
                    border: 1px solid #656565;
                    font-size: 12px;
                    padding: 8px 10px;
                    transition: all 0.4s @cubic-bezier1;
                
                    &:hover {
                        background-color: #676767;
                        color: #fff;
                    }
                }
            }
        }
    }
}

