@charset "UTF-8";
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter {
  padding: 4px 12px;
  border: 1px solid var(--spl-c-7a7a7a);
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter h6.spl-title {
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--spl-text-gray);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.011em;
  font-size: 12px;
  line-height: 16px;
  position: relative;
}
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter div.spl-inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter div.spl-inputWrapper h6.spl-title {
  width: 120px;
}
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter div.spl-inputWrapper input,
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter div.spl-inputWrapper textarea {
  resize: none;
  border: none;
  margin: 14px 0 0 0;
  background: transparent;
  outline: none;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--spl-text-darkgray);
  line-height: 24px;
  display: inline-block;
  white-space: pre-wrap;
  vertical-align: top;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter div.spl-inputWrapper ::placeholder {
  font-weight: 100;
  color: var(--spl-text-placeholder);
}
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter span.spl-counter {
  float: right;
  font-size: 0.7rem;
  color: var(--spl-text-gray-light);
}
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter p.spl-alertMessage {
  color: var(--spl-c-8c1111);
  font-size: 0.9rem;
  padding-left: 0px;
}
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter button svg {
  width: 30px;
  height: 30px;
}
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter button svg .spl-cls-1,
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter button svg .spl-cls-2 {
  -webkit-transition: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  stroke: var(--spl-c-d9d9d9);
}
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter button svg:hover .spl-cls-1,
div.spl-TextField:not(.spl-Incrementer) div.spl-inputOuter button svg:hover .spl-cls-2 {
  stroke: var(--spl-c-fff);
}
div.spl-TextField:not(.spl-Incrementer).spl-alert div.spl-inputOuter {
  border: 1px solid var(--spl-c-8c1111);
}
div.spl-TextField:not(.spl-Incrementer).spl-alert div.spl-inputOuter h6.spl-title {
  color: var(--spl-c-8c1111);
}
div.spl-TextField.spl-overMaximumTextCount div.spl-inputOuter div.spl-footer span.spl-counter {
  color: var(--spl-c-8c1111);
}
div.spl-TextField.spl-Incrementer div.spl-inputOuter div.spl-inputWrapper {
  display: flex;
  width: max-content;
  border: 1px solid var(--spl-c-dfdfdf);
  border-radius: 4px;
  box-shadow: 0 1px 3px var(--spl-c-f1f1f1);
}
div.spl-TextField.spl-Incrementer div.spl-inputOuter div.spl-inputWrapper input {
  border: none;
  height: 45px;
  width: 130px;
  font-size: 1em;
  margin: 0;
}
div.spl-TextField.spl-Incrementer div.spl-inputOuter div.spl-inputAfter div.spl-incrementButton {
  width: 28px;
}
div.spl-TextField.spl-Incrementer div.spl-inputOuter div.spl-inputAfter div.spl-incrementButton button img {
  width: 13px;
}
div.spl-TextField.spl-Incrementer.spl-alert div.spl-inputOuter div.spl-inputWrapper {
  display: flex;
  width: max-content;
  border: 1px solid var(--spl-c-8c1111);
  border-radius: 4px;
  box-shadow: 0 1px 3px var(--spl-c-f1f1f1);
}
div.spl-TextField.spl-Incrementer.spl-alert div.spl-inputOuter div.spl-inputWrapper input {
  border: none;
  height: 45px;
  width: 130px;
  font-size: 1em;
  margin: 0;
}
div.spl-TextField.spl-Incrementer.spl-alert div.spl-inputOuter div.spl-inputAfter div.spl-incrementButton {
  width: 28px;
}
div.spl-TextField.spl-Incrementer.spl-alert div.spl-inputOuter div.spl-inputAfter div.spl-incrementButton button img {
  width: 13px;
}
button.spl-LoadButton {
  position: relative;
  width: 150px;
  height: 50px;
  border: 1px solid var(--spl-c-ccc);
  background-color: var(--spl-c-f9f9f9);
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 0 0 var(--spl-c-rgba-0-0-0-0);
  transition: width 0.2s cubic-bezier(0.65, 0, 0.34, 1), border-radius 0.2s cubic-bezier(0.65, 0, 0.34, 1), background-color 0.2s cubic-bezier(0.65, 0, 0.34, 1), box-shadow 0.2s cubic-bezier(0.65, 0, 0.34, 1);
}
button.spl-LoadButton span.spl-LoadButtonLabel,
button.spl-LoadButton img.spl-LoadButtonLoader {
  transition: opacity 0.2s cubic-bezier(0.65, 0, 0.34, 1), visibility 0.2s cubic-bezier(0.65, 0, 0.34, 1), left 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
button.spl-LoadButton span.spl-LoadButtonLabel {
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
button.spl-LoadButton img.spl-LoadButtonLoader {
  width: 31px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}
button.spl-LoadButton:hover {
  box-shadow: 0 2px 6px var(--spl-c-rgba-0-0-0-0p2);
}
button.spl-LoadButton.spl-load {
  background-color: var(--spl-c-3e3e3e) !important;
}
button.spl-LoadButton.spl-load span.spl-LoadButtonLabel {
  opacity: 0;
  visibility: hidden;
  left: 20px;
}
button.spl-LoadButton.spl-load img.spl-LoadButtonLoader {
  opacity: 1;
  visibility: visible;
  left: 30px;
}
button.spl-LoadButton.spl-disable {
  background-color: var(--spl-c-656565) !important;
}
div.spl-VerifyCodeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.spl-VerifyCodeForm div.spl-verifyCodeFormContainer {
  width: 24vw;
  min-width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.spl-VerifyCodeForm div.spl-verifyCodeFormContainer input.spl-verifyInput {
  width: 50px;
  height: 50px;
  border: 1px solid var(--spl-c-aaa);
  border-radius: 4px;
  font-size: 2em;
  text-align: center;
}
div.spl-VerifyCodeForm div.spl-verifyCodeFormContainer input.spl-verifyInput:focus {
  border-color: var(var(--spl-c-007fb9));
  box-shadow: var(var(--spl-c-3e3e3e));
}
div.spl-VerifyCodeForm p.spl-alert {
  color: var(--spl-c-8c1111);
  font-size: 0.8em;
  margin-top: 9px;
}
div.spl-VerifyCodeForm.spl-alert div.spl-verifyCodeFormContainer input.spl-verifyInput {
  border: 1px solid var(--spl-c-8c1111);
}
div.spl-TermsScrollView {
  border-radius: 4px;
}
div.spl-TermsScrollView div.spl-termsViewContainer {
  height: 400px;
  width: 470px;
  overflow-y: scroll;
  background-color: var(--spl-c-f9f9f9);
  border-radius: 0px;
}
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView h1,
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView h2,
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView h3,
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView h4 {
  font-weight: 600;
  padding: 7px 10px;
}
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView h1.spl-title {
  text-align: center;
}
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView ul.spl-section-list {
  padding: 10px 14px 14px 42px;
  font-size: 0.9em;
  list-style-type: decimal;
}
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView ul.spl-section-list li {
  padding: 5px 5px 5px 5px;
}
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView p.spl-agreement-notice {
  text-decoration: underline;
}
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView address {
  padding: 5px 20px 5px 20px;
}
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView h2.spl-subtitle {
  text-align: center;
}
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView p {
  font-size: 0.9em;
  padding: 0px 14px 10px 14px;
}
div.spl-TermsScrollView div.spl-termsViewContainer div.spl-termsView ul {
  padding: 5px 20px 5px 31px;
  font-size: 0.9em;
  list-style: disc;
}
div.spl-DropdownButton div.spl-DropdownButtonClickable {
  border: 1px solid var(--spl-c-7a7a7a);
  border-radius: 4px;
  padding: 8px 14px;
  cursor: pointer;
}
div.spl-DropdownButton div.spl-DropdownButtonClickable h6.spl-description {
  font-size: 11px;
  color: var(--spl-text-gray);
  font-weight: 300;
}
div.spl-DropdownButton div.spl-DropdownButtonClickable span.spl-title {
  font-size: 13px;
  font-weight: 100;
  color: var(--spl-text-black-light);
}
div.spl-DropdownButton div.spl-DropdownButtonClickable img.spl-downarrow {
  position: relative;
  top: 0px;
  width: 12px;
  height: 12px;
  float: right;
}
div.spl-DropdownButton div.spl-DropdownButtonClickable div.spl-footer p.spl-alertMessage {
  color: var(--spl-c-8c1111);
  font-size: 0.9rem;
  padding-left: 0px;
}
div.spl-DropdownButton ul.spl-listmenu {
  background: var(--spl-bgcolor-light);
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 1px 1px 6px 1px var(--spl-c-rgba-0-0-0-0p13);
  -moz-box-shadow: 1px 1px 6px 1px var(--spl-c-rgba-0-0-0-0p13);
  box-shadow: 1px 1px 6px 1px var(--spl-c-rgba-0-0-0-0p13);
  border-radius: 6px;
  z-index: 2;
}
div.spl-DropdownButton ul.spl-listmenu li.spl-listitem {
  background-color: var(--spl-bgcolor-light);
  cursor: pointer;
  padding: 10px 16px;
  color: var(--spl-text-black-light);
  border-bottom: 1px solid var(--spl-c-eee);
  display: flex;
  justify-content: space-between;
}
div.spl-DropdownButton ul.spl-listmenu li.spl-listitem div.spl-listitem-title-wrap {
  display: flex;
  flex-direction: column;
  /* so that description is below the title */
}
div.spl-DropdownButton ul.spl-listmenu li.spl-listitem div.spl-listitem-title {
  font-weight: bold;
  font-size: 13px;
}
div.spl-DropdownButton ul.spl-listmenu li.spl-listitem div.spl-listitem-description {
  color: var(--spl-c-666);
  font-size: 10px;
}
div.spl-DropdownButton ul.spl-listmenu li.spl-listitem:hover {
  background-color: var(--spl-c-f1f1f1);
}
div.spl-DropdownButton ul.spl-listmenu li.spl-listitem.spl-selected {
  background-color: var(--spl-c-dddddd);
}
div.spl-DropdownButton.spl-alert div.spl-DropdownButtonClickable {
  border: 1px solid var(--spl-c-8c1111);
}
div.spl-DropdownButton.spl-alert div.spl-DropdownButtonClickable h6.spl-description {
  color: var(--spl-c-8c1111);
}
div.spl-KeywordsField.spl-focus div.spl-inputOuter p.spl-press.spl-show {
  opacity: 1;
}
div.spl-KeywordsField div.spl-inputOuter {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  overflow: visible;
}
div.spl-KeywordsField div.spl-inputOuter ul.spl-keywords {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
div.spl-KeywordsField div.spl-inputOuter ul.spl-keywords li.spl-keyword {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 1px;
  margin: 4px 9px 4px 0;
}
div.spl-KeywordsField div.spl-inputOuter ul.spl-keywords li.spl-keyword p.spl-label {
  padding: 0 8px 0 0;
}
div.spl-KeywordsField div.spl-inputOuter ul.spl-keywords li.spl-keyword button.spl-delete svg.spl-cancelIconSVG {
  cursor: pointer;
  width: 11px;
  height: 11px;
  padding: 1px;
}
div.spl-KeywordsField div.spl-inputOuter ul.spl-keywords li.spl-keyword.spl-scope {
  border: 1px solid var(--spl-c-909090);
  background: var(--spl-c-878787);
}
div.spl-KeywordsField div.spl-inputOuter input.spl-keywordsform {
  flex: 1 0 70%;
  margin: 0;
  font-size: 1rem;
  max-width: 140px;
  min-width: 100px;
}
div.spl-KeywordsField div.spl-inputOuter input.spl-keywordsform:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  margin-right: 8px;
}
div.spl-KeywordsField div.spl-inputOuter div.spl-footer p.spl-alertMessage {
  position: absolute;
  top: 38px;
  left: 14px;
  color: var(--spl-c-8c1111);
  font-size: 0.8rem;
}
div.spl-KeywordsField div.spl-inputOuter p.spl-press {
  -webkit-transition: all 0.3s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.3s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.3s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  opacity: 0;
  font-size: 0.8em;
}
div.spl-KeywordsField div.spl-inputOuter p.spl-press strong {
  margin-left: 5px;
}
div.spl-KeywordsField.spl-focus div.spl-inputOuter input.spl-keywordsform {
  max-width: 140px;
  min-width: 100px;
}
div.spl-gradientViewIndicator {
  width: 100%;
}
div.spl-gradientViewIndicator div.spl-indicator-container div.spl-indicator-wrapper {
  padding: 6px 0 6px 0;
}
div.spl-TableView {
  display: flex;
  flex-direction: column;
}
div.spl-TableView div.spl-tableViewContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableViewHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid var(--spl-c-e5e5e5);
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  position: relative;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView img.spl-loader {
  animation: rotate 1s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  width: 44px;
  height: 44px;
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView div.spl-gradientViewIndicator {
  padding: 15px 23px;
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid var(--spl-c-ddd);
  flex-direction: row;
  align-items: start;
  height: auto;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s cubic-bezier(0.65, 0, 0.34, 1), transform 0.4s cubic-bezier(0.65, 0, 0.34, 1), height 0.4s cubic-bezier(0.65, 0, 0.34, 1), max-height 0.4s cubic-bezier(0.65, 0, 0.34, 1), padding 0.4s cubic-bezier(0.65, 0, 0.34, 1);
  overflow: hidden;
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell div.spl-contentWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* to ensure that it takes the remaining space after buttonContainer */
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell div.spl-contentWrapper div.spl-header span.spl-label {
  float: right;
  background-color: var(--spl-c-007bff);
  color: var(--spl-c-ffffff);
  padding: 2px 7px;
  border-radius: 2px;
  font-size: 0.78rem;
  font-weight: 200;
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell div.spl-contentWrapper div.spl-header p.spl-title {
  float: left;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--spl-c-333333);
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell div.spl-contentWrapper div.spl-body p.spl-text {
  color: var(--spl-c-555555);
  font-weight: 100;
  font-size: 0.9rem;
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell div.spl-contentWrapper div.spl-footer {
  margin: 6px 0 0 0;
  font-size: 0.7rem;
  color: var(--spl-c-777777);
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell div.spl-buttonContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3px;
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell div.spl-buttonContainer button svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 1px;
  background-color: transparent;
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell div.spl-buttonContainer button svg .spl-path {
  -webkit-transition: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  fill: var(--spl-c-d5d5d5);
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell div.spl-buttonContainer button svg:hover .spl-path {
  fill: var(--spl-c-fff);
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell.spl-selected {
  background-color: var(--spl-c-2c2c2c);
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell.spl-selected div.spl-buttonContainer.spl-right {
  right: 0;
  background: linear-gradient(to left, var(--spl-c-2c2c2c), var(--spl-c-2c2c2c) 77%, transparent);
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell.spl-selected div.spl-buttonContainer.spl-left {
  left: 0;
  background: linear-gradient(to right, var(--spl-c-2c2c2c), var(--spl-c-2c2c2c) 77%, transparent);
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell.spl-hiddenForMoveFromLeft {
  max-height: 0;
  height: 0;
  opacity: 0;
  padding: 0 !important;
  transform: translateX(-20px);
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell.spl-hiddenForFadeIn {
  max-height: 0;
  height: 0;
  opacity: 0;
  padding: 0;
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell.spl-deleteByFadeOut {
  opacity: 0;
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableView ul.spl-tableListView li.spl-tableViewCell.spl-deleteByMoveToLeft {
  opacity: 0;
  transform: translateX(-20px);
}
div.spl-TableView div.spl-tableViewContainer div.spl-tableViewFooter {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-top: 1px solid var(--spl-c-e5e5e5);
}
div.spl-ModalView div.spl-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--spl-c-rgba-255-255-255-0p5);
  z-index: 1000;
}
div.spl-ModalView div.spl-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--spl-c-ffffff);
  z-index: 1001;
  width: 70%;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 5px 15px var(--spl-c-rgba-0-0-0-0p3);
  overflow: hidden;
}
div.spl-ModalView div.spl-window div.spl-contentWrapper {
  background-color: var(--spl-c-fff);
  padding: 20px;
  border-bottom: 1px solid var(--spl-c-eee);
}
div.spl-ModalView div.spl-window div.spl-contentWrapper h3.spl-ModalViewTitle {
  color: var(--spl-c-333333);
  font-size: 24px;
  margin-bottom: 20px;
}
div.spl-ModalView div.spl-window div.spl-contentWrapper div.spl-mainContent {
  color: var(--spl-c-555555);
  font-size: 16px;
  margin-bottom: 20px;
}
div.spl-ModalView div.spl-window div.spl-contentWrapper div.spl-ModalViewAlert {
  color: var(--spl-c-8c1111);
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
}
div.spl-ModalView div.spl-window div.spl-modalViewFooter {
  background-color: var(--spl-c-ffffff);
  padding: 10px 20px;
  display: flex;
  justify-content: end;
}
div.spl-ModalView div.spl-window div.spl-modalViewFooter button {
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.2s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.spl-ModalView div.spl-window div.spl-modalViewFooter button.spl-cancelButton {
  border: 1px solid var(--spl-c-cfcfcf);
  background-color: var(--spl-c-fff);
  color: var(--spl-c-595959);
}
div.spl-ModalView div.spl-window div.spl-modalViewFooter button.spl-cancelButton:hover {
  background-color: var(--spl-c-676767);
  color: var(--spl-c-fff);
}
div.spl-ModalView div.spl-window div.spl-modalViewFooter button.spl-doneButton {
  border: 1px solid var(--spl-c-cfcfcf);
  background-color: var(--spl-c-ffffff);
  color: var(--spl-c-595959);
}
div.spl-ModalView div.spl-window div.spl-modalViewFooter button.spl-doneButton:hover {
  background-color: var(--spl-c-0056b3);
  color: var(--spl-c-fff);
}
div.spl-ModalView.spl-darkStyle {
  display: block;
}
div.spl-ModalView.spl-darkStyle div.spl-bg {
  background-color: var(--spl-c-rgba-0-0-0-0p5) !important;
}
div.spl-ModalView.spl-darkStyle div.spl-window div.spl-contentWrapper {
  background-color: var(--spl-c-2e2e2e);
  padding: 20px;
  border-bottom: 1px solid var(--spl-c-353535);
  border-top: 1px solid var(--spl-c-424040);
  border-left: 1px solid var(--spl-c-424040);
  border-right: 1px solid var(--spl-c-424040);
}
div.spl-ModalView.spl-darkStyle div.spl-window div.spl-contentWrapper h3.spl-ModalViewTitle {
  font-size: 18px;
  color: var(--spl-c-cdcdcd);
}
div.spl-ModalView.spl-darkStyle div.spl-window div.spl-contentWrapper div.spl-mainContent {
  color: var(--spl-c-ffffff);
}
div.spl-ModalView.spl-darkStyle div.spl-window div.spl-footer.spl-modalViewFooter {
  background-color: var(--spl-c-2e2e2e);
  padding: 16px 16px 16px 16px;
  border-bottom: 1px solid var(--spl-c-424040);
  border-left: 1px solid var(--spl-c-424040);
  border-right: 1px solid var(--spl-c-424040);
  border-top: none;
}
div.spl-ModalView.spl-darkStyle div.spl-window div.spl-footer.spl-modalViewFooter button.spl-cancelButton {
  background-color: var(--spl-c-5d5d5d);
  color: var(--spl-c-fff);
  border: 1px solid var(--spl-c-656565);
  font-size: 0.9em;
  padding: 10px 15px;
  transition: all 0.4s cubic-bezier(0.65, 0, 0.34, 1);
  margin-right: 10px;
}
div.spl-ModalView.spl-darkStyle div.spl-window div.spl-footer.spl-modalViewFooter button.spl-cancelButton:hover {
  border: 1px solid var(--spl-c-404040);
  color: var(--spl-c-656565);
  background-color: var(--spl-c-454545);
}
div.spl-ModalView.spl-darkStyle div.spl-window div.spl-footer.spl-modalViewFooter button.spl-doneButton {
  background-color: var(--spl-c-3a3a3a);
  color: var(--spl-c-fff);
  border: 1px solid var(--spl-c-656565);
  font-size: 0.9em;
  padding: 10px 15px;
  transition: all 0.4s cubic-bezier(0.65, 0, 0.34, 1);
}
div.spl-ModalView.spl-darkStyle div.spl-window div.spl-footer.spl-modalViewFooter button.spl-doneButton:hover {
  border: 1px solid var(--spl-c-404040);
  color: var(--spl-c-656565);
  background-color: var(--spl-c-454545);
}
